<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @editora.nome %>
</p>


<div class="form-actions">
	<%= link_to 'Edit', edit_editora_path(@editora), :class => "btn btn-primary" %>
	<%= link_to 'Back', editoras_path, :class => "btn"  %>
</div>
