<form action="/busca" class="form-horizontal" method="GET">
    <input type="text" placeholder="Informe o termo da pesquisa"  name="search" class="span3"/>
    <input type="submit"  class="btn btn-info"></input>
    <input type="hidden" value="<%=@model%>" name="modelo"/>
</form>
