<form action="/busca" class="form-search" method="GET">
    <input type="text" placeholder="Informe o termo da busca"  name="search" class="input-medium search-query span4"/>
    <input type="submit"  class="btn btn-info"></input>
    <input type="hidden" value="<%=@model%>" name="modelo"/>
</form>
