<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @autor.nome %>
</p>

<div class="form-actions">
	<%= link_to 'Editar', edit_autor_path(@autor), :class => "btn btn-primary" %>
	<%= link_to 'Voltar', autores_path, :class => "btn" %>
</div>